@{
    ViewData["Title"] = "WatchDog Page";
    Layout = "~/Views/WatchDog/WatchDog.cshtml";
}
@section scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/watchDog.js"></script>
}

<div class="text-center">
    <h1 class="display-4">WatchDog</h1>
    <br />


    <a class="btn btn-success" href="@Url.Action("DebugCheckOldFilesFromDirectory","WatchDog", new { folder = @"C:\OppariUnitTests", mask = ".txt"})">CheckOldFilesFromDirectory</a>
    <br />
    <br />
    <a class="btn btn-success" href="@Url.Action("DebugCheckSqlQueries","WatchDog", new { query = "SELECT * FROM dbo.WatchDogErrors"})">CheckSqlQueries</a>
    <br />
    <br />


</div>
